h1,
h2,
h3,
.yellow-s{
    line-height: 120%; 
}

h2,
h3,
.yellow-s{
    &:not(h1,.yellow-s){
        color: var(--gray-01);
    }
    font-family: 'Inter',sans-serif;
    font-weight: 500;
}

h1{
    color: var(--white-01);
    font-family: 'Inter;',sans-serif;
    font-size: 6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 2rem;
}
.yellow-s{
    color: var(--yellow-01);
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}
.p-class{
    color: var(--gray-02);
    &.p-16{
        font-size: 1.6rem;
        line-height: 2.4rem; /* 150% */
    }
    &.p-18{
        font-size: 1.8rem;
        line-height: 3.2rem; /* 177.778% */
    }
}